@import url(../components/CreateClass/popup.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding-top: 10px;
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.3em;
  margin-bottom: 30px;
}

h3 {
  font-size: 1.1em;
  margin-bottom: 10px;
  text-align: left;
}

.conteiner {
  display: flex;
  justify-content: center;
  padding: 20%;
}


.nikename-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  flex-direction: column;
  min-width: 20%;
  margin-top: 5%;
  border: 2px solid black;
  border-top-left-radius: 20%;
  border-bottom-left-radius: 20%;
}

.chat-message-item {
  display: flex;
  flex-direction: column;
  border: 1px;
  margin-bottom: 1em;
}

.nikename-data {
  display: flex;
  flex-direction: row;
  width: 100%;
  word-break: break-word;
  overflow-wrap: break-word;
  border: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.8em;
}

.text-message {
  overflow-x: hidden;
  flex: 1 1 auto;
  min-width: 0;
  white-space: normal;
  word-wrap: break-word;
}

.you-chat-message-item {
  display: flex;
  flex-direction: column;
}

.you-nikename-data {
  width: 100%;
  word-break: break-word;
  overflow-wrap: break-word;
  border: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: right;
  font-style: italic;
  color: red;
  font-size: 0.8em;
}


.you-text-message {
  font-style: italic;
  overflow-x: hidden;
  flex: 1 1 auto;
  min-width: 0;
  white-space: normal;
  word-wrap: break-word;
  text-align: right;
  margin-bottom: 1em;
}

.nikename {
  margin: 5%;
}

.welcome-chat {
  text-align: center;
  font-style: italic;
}

.chat-box {
  display: flex;
  flex-direction: column;
  min-width: 80%;
  height: 300px;
  border: 2px solid black;
  padding-top: 5%;
  border-radius: 5%;
}

.chat {
  display: flex;
  flex-direction: column;
  min-width: 80%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-bottom: 5%;
  padding-left: 30px;
  padding-right: 30px;
}

.chat-message {
  display: flex;
  margin: auto;
  width: 80%;
  margin-bottom: 20px;
}
